{% extends 'layout.html' %}


{% block title %}About{% endblock %}


{% block content %}

<h4 class="text-center mb-3">About</h4>

<div class="text-center">
    <p class="mb-0">Developed by:</p>
    <p><strong>Mihai Blebea</strong></p>

    <p class="mb-0">You can contribute or clone the code from here:</p>
    <p><a href="https://github.com/MihaiBlebea/CarGiantWebsiteFlask.git">GitHub repo</a></p>

    <p class="mb-0">Read all tutorials on my blog:</p>
    <p><a href="https://medium.com/mihaidevtuts">MihaiDevTutorials</a></p>

    <p class="mb-0">Contact me at:</p>
    <p>mihaiserban.blebea@gmail.com</p>

    <p class="mb-0">Or on:</p>
    <p><a href="https://www.linkedin.com/in/mihai-blebea-87353310b">Linkedin profile</a></p>
</div>

<div class="w-100 text-center mt-5">
    <a href="/" class="btn btn-primary">Back</a>
</div>

{% endblock %}
