{% extends 'layout.html' %}


{% block title %}Car Price{% endblock %}


{% block content %}

<div class="card">
    <div class="card-body">
        <a href="/" title="Click to reset form">
            <img src="../../static/car-giant-logo.svg" class="my-4" />
        </a>

        {% if result == True %}

            {% include "partials/__result.html" %}

        {% endif %}


        {% if field_error == True %}

            {% include "partials/__error.html" %}

        {% endif %}

        {% include "partials/__prediction_form.html" %}
    </div>
</div>

{% endblock %}
